<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Products</title>
  </head>
  <body>
    <h1>Products</h1>
    <a href="/products/new">Create new product</a>
    <ul>
      <% if (products && products.length) { %>
        <% products.forEach(function(p){ %>
          <li>
            <a href="/products/<%= p._id %>"><%= p.name %></a>
            &nbsp; (SKU: <%= p.sku %>) &nbsp; Qty: <%= p.quantity %>
          </li>
        <% }) %>
      <% } else { %>
        <li>No products found</li>
      <% } %>
    </ul>
  </body>
</html>
